<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<% if (htmlWebpackPlugin.options.nodeModules) { %>
	<!-- Add `node_modules/` to global paths so `require` works properly in development -->
	<script>
		require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, `\\\\`) %>')
	</script>
	<% } %>
	<title>Monitor Key Light</title>
</head>

<body>
	<header id="titlebar">
		<div id="drag-region">

			<div id="window-title">
				<span>Monitor Key Light</span>
			</div>

			<div id="window-controls">

				<div class="button" id="min-button">
					<img class="icon"
						srcset="static/icons/min-w-10.png 1x, static/icons/min-w-12.png 1.25x, static/icons/min-w-15.png 1.5x, static/icons/min-w-15.png 1.75x, static/icons/min-w-20.png 2x, static/icons/min-w-20.png 2.25x, static/icons/min-w-24.png 2.5x, static/icons/min-w-30.png 3x, static/icons/min-w-30.png 3.5x"
						draggable="false" />
				</div>
				<div class="button" id="max-button">
					<img class="icon"
						srcset="static/icons/max-w-10.png 1x, static/icons/max-w-12.png 1.25x, static/icons/max-w-15.png 1.5x, static/icons/max-w-15.png 1.75x, static/icons/max-w-20.png 2x, static/icons/max-w-20.png 2.25x, static/icons/max-w-24.png 2.5x, static/icons/max-w-30.png 3x, static/icons/max-w-30.png 3.5x"
						draggable="false" />
				</div>
				<div class="button" id="restore-button">
					<img class="icon"
						srcset="static/icons/restore-w-10.png 1x, static/icons/restore-w-12.png 1.25x, static/icons/restore-w-15.png 1.5x, static/icons/restore-w-15.png 1.75x, static/icons/restore-w-20.png 2x, static/icons/restore-w-20.png 2.25x, static/icons/restore-w-24.png 2.5x, static/icons/restore-w-30.png 3x, static/icons/restore-w-30.png 3.5x"
						draggable="false" />
				</div>
				<div class="button" id="close-button">
					<img class="icon"
						srcset="static/icons/close-w-10.png 1x, static/icons/close-w-12.png 1.25x, static/icons/close-w-15.png 1.5x, static/icons/close-w-15.png 1.75x, static/icons/close-w-20.png 2x, static/icons/close-w-20.png 2.25x, static/icons/close-w-24.png 2.5x, static/icons/close-w-30.png 3x, static/icons/close-w-30.png 3.5x"
						draggable="false" />
				</div>

			</div>
		</div>
	</header>
	<div id="app">
	</div>

	<!-- Set `__static` path to static files in production -->
	<% if (!htmlWebpackPlugin.options.isBrowser && !htmlWebpackPlugin.options.isDevelopment) { %>
	<script>
		window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
	</script>
	<% } %>

	<script src="static/titlebar-renderer.js"></script>
	<!-- webpack builds are automatically injected -->
</body>

</html>